* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #f3f3f3;
}

#frame_part {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.container {
    width: 380px;
    background: #fff;
    border-radius: 12px;
    padding: 20px 20px 30px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.12);
}

.row_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 5px;
    font-size: 16px;
    color: #1F2128;
}

.divider {
    width: 100%;
    height: 1px;
    background: #CDCDCD;
    margin: 10px 0;
}

/* ==========================
        Done button  start
===========================*/
.done_button {
    width: 100%;
    height: 45px;
    background: #FFD84D;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #1F2128;
    cursor: pointer;
    transition: background 0.5s;
}

.done_button:hover {
    background: #FFCE22;
}

/* ==========================
        Done button  end
===========================*/

/* ==========================
        Checkbox  start
===========================*/
.custom-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.checkbox-box {
    width: 18px;
    height: 18px;
    border: 1.5px solid #D0D5DD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.checkbox-wrapper:hover .checkbox-box {
    background: #2469F6;
    border-color: #2469F6;
}

.checkbox-wrapper:hover .checkbox-box svg {
    visibility: visible;
    stroke: #FFFFFF;
}

.custom-checkbox:checked + .checkbox-box {
    background: #5087F8;
    border-color: #5087F8;
    box-shadow: 0 0 3px 3px rgba(80, 135, 248, 0.25);
}

.checkbox-box svg {
    width: 12px;
    height: 12px;
    stroke: #fff;
    stroke-width: 1.8px;
    visibility: hidden;
}

.custom-checkbox:checked + .checkbox-box svg {
    visibility: visible;
}
/* ==========================
        Checkbox  end
===========================*/